@import "../../../styles/vars";

.character-main {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;

  @media (min-width: 768px) {
    width: 95vw;
  }

  @media (min-width: 1024px) {
    width: 65vw;
    overflow-y: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.character__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $overlay;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  overflow: hidden;
  animation: show 1s;
  transition: all 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);

  @media (min-width: 768px) {
    margin-top: 150px;
    padding: 40px 0;
  }

  @media (min-width: 1024px) {
    padding: 30px;
    height: calc(95vh - 100px);
    max-height: 699px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }

  @media (min-width: 1400px) {
    max-width: 1200px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
}

.image-wrapper {
  width: 100%;
  max-width: 100%;
  flex-grow: 0;
  overflow: hidden;

  @media (min-width: 360px) {
    max-width: 420px;
  }
}

.character__info {
  padding: 20px;
  width: 100%;
  overflow-x: hidden;

  @media (min-width: 768px) {
    flex-grow: 1;
    padding: 30px;
  }
  @media (min-width: 1024px) {
    overflow-y: scroll;
    padding: 0 30px;
  }

  h3 {
    text-align: justify;
    line-height: 1.2;
    margin-bottom: 10px;
    span {
      display: block;
    }
  }
}

.character__films {
  a {
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }
}

.loading,
.characters__error {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

.characters__error {
  text-align: center;
  i {
    margin-top: 20px;
    display: block;
    font-family: $font-primary;
    font-size: 3rem;
    color: $color-secondary;
  }
}

.character__planet {
  cursor: pointer;
  &:hover{
    color: $color-primary;
  }
}

.character__films {
  cursor: help;
  p {
    opacity: 0;
    transition: all 0.4s ease;
  }
  &:hover {
    color: $color-secondary;
    p {
      opacity: 1;
    }
  }
}

.show {
  opacity: 1;
}

@keyframes show {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
