$font-primary: "starjedi";
$font-secondary: "jedi";
$font-support: "open-sans";
$color-primary: #fbe122;
$color-secondary: #c8102e;
$color-support: #49c1ab;
$background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
$overlay: rgba(
  $color: #000,
  $alpha: 0.85,
);
