<main class="film-main">
  <app-loader *ngIf="loading" class="loading"></app-loader>
  <div class="film__card" *ngIf="!loading && film">
    <div class="image-wrapper">
      <app-image [img]="image"></app-image>
    </div>
    <div class="film__info">
      <h3 class="film__title"><span>Movie Name:</span> {{ film.title }}</h3>
      <h3 class="film__date">
        <span>Release Date:</span> {{ film.release_date | date : "mediumDate" }}
      </h3>
      <h3 class="film__episode">
        <span>Episode Number:</span> {{ film.episode_id }}
      </h3>
      <h3 class="film__director"><span>Director:</span> {{ film.director }}</h3>
      <h3 class="film__producer"><span>Producer:</span> {{ film.producer }}</h3>
      <h3 class="film__opening">
        <span>Opening Crawl:</span> {{ film.opening_crawl }}
      </h3>
      <h3 class="film__characters">
        <span>Characters:</span>
        <a
          *ngFor="let character of characters"
          (click)="onCharacterClick(character.name)"
          >{{ character.name }},
        </a>
      </h3>
    </div>
  </div>
  <h3 *ngIf="!loading && !film" class="movie__error">
    Sir, it’s quite possible this asteroid is not entirely stable <i>*</i>
  </h3>
</main>
