<div class="film__card" (click)="onClick()">
  <app-image [img]="image"></app-image>
  <div class="film__info">
    <h3 class="film__title"><span>Movie Name:</span> {{ film.title }}</h3>
    <h3 class="film__date">
      <span>Release Date:</span> {{ film.release_date | date : "mediumDate" }}
    </h3>
    <h3 class="film__episode">
      <span>Episode Number:</span> {{ film.episode_id }}
    </h3>
    <h3 class="film__director"><span>Director:</span> {{ film.director }}</h3>
    <h3 class="film__producer"><span>Producer:</span> {{ film.producer }}</h3>
  </div>
</div>
