.home__main {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;

  @media (min-width: 768px) {
    width: 95vw;
  }

  @media (min-width: 1200px) {
    width: 90vw;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll-down {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  position: absolute;
  right: 50%;
  bottom: 15vh;
  transform: translateX(50%);
  font-size: 3.5rem;
  text-shadow: 0 0 2px #fbe122, 0 0 10px #fbe122, 0 0 20px #fadd00,
    0 0 30px #fadd00, 0 0 40px #fadd00, 0 0 50px #fadd00;
  transition: transform 0.4s ease-in-out;

  &:hover {
    transform: translateX(50%) scale(1.3);
  }
}
